<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook Planner - Helper at your kitchen</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<!-- Навбар -->
<div class="navbar">
   {% if token %}
  <a href="/profile">Профайл</a>
  <a href="/user/logout">Выйти</a>
    {% else %}
  <a href="/register">Регистрация</a>
  <a href="/login">Логин</a>
    {% endif %}
</div>

<!-- Sidebar -->
<div class="sidebar">
  <h3>Популярные блюда</h3>
  <ul id="dishList">
    <li>Борщ</li>
    <li>Оливье</li>
    <li>Нежный куриный бульйон</li>
    <li>Пельмени</li>
    <li>Блины</li>
    <li>Котлета по-киевски</li>
    <li>Салат «Мимоза»</li>
    <li>Щи</li>
    <li>Гречка с мясом</li>
    <li>Каша манная</li>
  </ul>
</div>



<h1>Найди рецепт и ингредиенты</h1>

<div class="input-container">
  <input type="text" id="dishInput" placeholder="Введите название блюда" />
  <button onclick="getIngredients()">Найти рецепт</button>

</div>

<ul id="ingredientsList"></ul>

</body>

<script>
  async function getIngredients() {
    const dish = document.getElementById('dishInput').value.trim();
    // Проверка, что ввод только букв
    if (!/^[A-Za-zА-Яа-яЁё]+$/.test(dish)) {
      alert("Введите правильное название блюда");
      return;
    }

    const response = await fetch('/recepe/recepe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ prompt: dish })
      });

    const data = await response.json();
    if (data.status === 200) {

        populateIngredients(data.message);

    } else {
      alert(data.message);
    }
  }

  function populateIngredients(text) {
    // разделяем строку по запятым и убираем лишние пробелы
    const items = text.split(',').map(item => item.trim());

    const listContainer = document.getElementById('ingredientsList');
    listContainer.innerHTML = ''; // очищаем список перед добавлением

    items.forEach((ingredient, index) => {
        // создаем элементы li, input и label
        const li = document.createElement('li');
        const checkboxId = `ingredient_${index}`; // уникальный id для input

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.id = checkboxId;

        const label = document.createElement('label');
        label.htmlFor = checkboxId;
        label.textContent = ingredient;

        // вставляем в li
        li.appendChild(checkbox);
        li.appendChild(label);

        // вставляем li в список
        listContainer.appendChild(li);
    });
}
</script>
</html>

