<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook Planner - Helper at your kitchen</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<!-- Навбар -->
<div class="navbar">
   {% if token %}
  <a href="/">Добро пожаловать!</a>
  <a href="/user/logout">Выйти</a>
    {% else %}
  <a href="/register">Регистрация</a>
  <a href="/login">Логин</a>
    {% endif %}
</div>
<!-- Картинки под навбар -->
<div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
    <img src="{{ url_for('static', path='images/image1.png') }}" style="width: 150px; height: auto; margin: 5px;">
    <img src="{{ url_for('static', path='images/image2.png') }}" style="width: 150px; height: auto; margin: 5px;">
    <img src="{{ url_for('static', path='images/image3.png') }}" style="width: 150px; height: auto; margin: 5px;">
    <img src="{{ url_for('static', path='images/image4.png') }}" style="width: 150px; height: auto; margin: 5px;">
    <img src="{{ url_for('static', path='images/image5.png') }}" style="width: 150px; height: auto; margin: 5px;">
</div>
<!-- Sidebar -->
<div class="sidebar">
  <h3>Популярные блюда</h3>

  <ul id="dishList">
  </ul>
</div>

<h1>Найди рецепт и ингредиенты</h1>

<div class="input-container">
  <input type="text" id="dishInput" placeholder="Введите название блюда" />
  <button onclick="getIngredients()">Найти рецепт</button>

</div>

<ul id="ingredientsList"></ul>

<!--<button onclick="addCookbook()">Добавить в мою книгу рецептов</button>-->

</body>

<script>
  async function addCookbook(){
    const dish = document.getElementById('dishInput').value.trim();
    const response = await fetch('/cookbook/new', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ recepe_name: dish, user_id:1 })
      });
      const data = await response.json();
        if (data.status === 200) {
          alert("Рецепт сохранен!");
        } else {
          alert(data.message);
        }
  }

  async function getIngredients() {
    const dish = document.getElementById('dishInput').value.trim();
    // Проверка, что ввод только букв
    if (!/^[A-Za-zА-Яа-яЁё]+$/.test(dish)) {
      alert("Введите правильное название блюда");
      return;
    }

    const response = await fetch('/recepe/recepe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ prompt: dish })
      });

    const data = await response.json();
    if (data.status === 200) {
        populateIngredients(data.message);
    } else {
      alert(data.message);
    }
  }

  function populateIngredients(text) {
    // разделяем строку по запятым и убираем лишние пробелы
    const items = text.split(',').map(item => item.trim());

    const listContainer = document.getElementById('ingredientsList');
    listContainer.innerHTML = ''; // очищаем список перед добавлением

    items.forEach((ingredient, index) => {
        // создаем элементы li, input и label
        const li = document.createElement('li');
        const checkboxId = `ingredient_${index}`; // уникальный id для input

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.id = checkboxId;

        const label = document.createElement('label');
        label.htmlFor = checkboxId;
        label.textContent = ingredient;

        // вставляем в li
        li.appendChild(checkbox);
        li.appendChild(label);

        // вставляем li в список
        listContainer.appendChild(li);
    });
}

   // функция для получения популярных рецептов
        async function fetchPopularRecipes() {
        const dishField = document.getElementById('dishInput');
            try {
                const response = await fetch('/recepe/popular');
                const data = await response.json();

                if (response.ok && data.data) {
                    const ul = document.getElementById('dishList');
                    ul.innerHTML = ''; // очистить список

                    data.data.forEach(recipe => {
                        const li = document.createElement('li');
                        li.textContent = recipe.name;
                        li.onclick = () => {
                            dishField.value = recipe.name;
                            populateIngredients(recipe.ingredients);

                        }

                        ul.appendChild(li);
                    });
                } else {
                    console.error('Ошибка получения данных:', data);
                }
            } catch (err) {
                console.error('Ошибка запроса:', err);
            }
        }

        // вызов при загрузке страницы
        window.onload = fetchPopularRecipes;
</script>
</html>

