<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

</head>
<body>
<div class="registration-form" style="margin-top: 40px; width: 100%; max-width: 400px;">
  <h2 style="color: #6c5ce7; margin-bottom: 20px;">Регистрация</h2>
  <form id="registerForm" style="display: flex; flex-direction: column; gap: 15px;">
    <input type="text" id="nickname" placeholder="Логин" required
      style="padding: 12px 20px; border: 2px solid #dfe6e9; border-radius: 8px; font-size: 1rem; outline: none; transition: border-color 0.2s;">

    <input type="number" id="phone" placeholder="Телефон" required
      style="padding: 12px 20px; border: 2px solid #dfe6e9; border-radius: 8px; font-size: 1rem; outline: none; transition: border-color 0.2s;">

    <input type="password" id="password" placeholder="Пароль" required
      style="padding: 12px 20px; border: 2px solid #dfe6e9; border-radius: 8px; font-size: 1rem; outline: none; transition: border-color 0.2s;">

    <input type="password" id="password2" placeholder="Повторите пароль" required
      style="padding: 12px 20px; border: 2px solid #dfe6e9; border-radius: 8px; font-size: 1rem; outline: none; transition: border-color 0.2s;">

    <button type="submit" style="
      padding: 12px 20px; background-color: #6c5ce7; color: #fff; border: none; border-radius: 8px; font-size: 1rem;
      cursor: pointer; transition: background-color 0.2s;">Зарегистрироваться</button>

      <p style="color:red;" id="error"></p>

  </form>
</div>
<script>
  document.getElementById('registerForm').addEventListener('submit', async (e) => {
  e.preventDefault();

  const nickname = document.getElementById('nickname').value.trim();
  const phone_number = document.getElementById('phone').value.trim();
  const password = document.getElementById('password').value.trim();
  const password2 = document.getElementById('password2').value.trim();
  const error = document.getElementById('error');
  error.innerText = "";

  // На всякий случай
  //if (password !== password2) {
    //alert('Пароли не совпадают');
    //return;
  //}

  // Валидация для телефона регулярным выражением
    //if (!/^\+?\d{9}$/.test(phone)) {
     // alert('Введите корректный номер телефона');
     // return;
   // }

  // Отправляем POST-запрос
  const response = await fetch('/user/register', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ nickname, phone_number, password, password2 })
  });

  const result = await response.json();

  if (result.status === 1) { // предполагается, что успешная регистрация возвращает статус 1
      window.location.href = '/'; // редирект на главную
    } else {
        error.innerText = result.message;
    }
});
</script>
</body>
</html>